:root {
--bg-dark: #000000;
--white:#ffffff;
--gold: #bdae82;
--regular: 'Inter', sans-serif;
--bold: 'Merriweather', serif;
--pt: 100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--white);
  background-color: var(--bg-dark);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: var(--gold);
  transition: all 0.3s;
  
}

ul,
li {
  list-style: none;
}
img{
  width: 100%;
  object-fit: cover;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  width: 220px;
  height: 55px;
  background-color: var(--gold);
  outline: none;
  cursor: pointer;
  border: 1px solid var(--gold);
  font-size: 20px;
  line-height: 40px;
  font-family: inherit;
}

.btn:hover {
color: var(--white);
transition: 0.3s
}
section:not(:first-child) {
  padding-top: var(--pt);
}
.container{
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('./assets/img/header-bg.png');
  background-repeat: no-repeat;
  background-position: center 0;
  padding: 20px;
}


.logo {
  width: 50px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.3s;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.nav{
  margin-left: auto;
  padding-right: 20px;
}

.nav-list{
  display: flex;
  align-items: center;
  gap: 30px;
}

.section-hero .container {
  background-image: url('./assets/img/header-bg.png');
  background-position: center -90px;
  background-repeat: no-repeat;
   /* padding-left:  -20px;
  padding-right:  -20px;  */
}
.hero-inner{
  padding: 160px 0 330px 60px;
  max-width:500px;
}
.hero-title {
  font-family: var(--bold);
  font-size: 60px;
  line-height: 120px;
  margin: 0;
  margin-bottom: 10px;
}
.hero-text {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 25px;
}
.title-container{
  width: 50%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  margin-bottom: 60px;
}
.section-title{
  position: relative; 
  font-family: var(--bold);
  font-size: 40px;
  line-height: 80px;
  color: var(--gold);
  text-align: center;
  background-color: #000;
  padding: 0 20px;
}

.skills-items,
.price-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {

  background-position: center top;
  max-width: 320px;
  padding:100px 20px 10px 20px;
  text-align: center;
}

.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(3) {
  background-image: url('./assets/svg/pecture.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(4) {
  background-image: url('./assets/svg/microfon.svg');
  background-size: 62px 50px;
  background-repeat: no-repeat;
}

.skill-item__title{
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
}
.skill-item__text{
  font-size: 18px;
line-height: 36px;
}

section:not(:first-child) .container {
  padding-top: var(--pt);
}
.tabs{
  display: flex;
  justify-content: center;
  gap:5px;
  margin-bottom: 60px;
}
.tab-button{
  width: 220px;
  height: 55px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--gold);
  font-size: 20px;
  line-height: 40px;
  font-family: inherit;
  color: var(--gold);
}

.tab-button:hover{
color: var(--bg-dark);
background-color: var(--gold);;
transition: 0.3s
}
.portfolio-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.portfolio-img{
  width: 100%;
  object-fit: cover;
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-video{
  position: absolute;
  width: 130px ;
  height: 130px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  background-image: url('./assets/svg/Play_hover.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s;
}

.btn-video:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.price-item{
  text-align: center;
  padding: 43px 115px;
  border: 2px solid var(--gold);
}
.price-title{
  font-family: var(--bold);
  font-size: 28px;
  line-height: 56px;
  margin-bottom: 20px;
}
.price-value{
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 20px;
}

.price-features{
  font-size: 18px;
  line-height: 36px;
}

.btn-price{
  margin-top: 40px;
}
.section-contacts .container{
  background-image: url('./assets/img/contacts.png');
  background-size: auto 700px;
  background-position: center center;
  background-repeat: no-repeat;
}
.contacts-inner {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  padding: 60px 0 195px;
  margin-left: auto;
}
.contacts-title{
  font-family: var(--bold);
  font-size: 40px;
  line-height: 80px;
  color: var(--gold);
  margin-bottom: 40px;
}
.input{
  background: transparent;
  border: 2px solid var(--gold);
  padding: 5px 0 5px 20px;
  margin-bottom: 20px; 
  line-height: 40px;
}
::placeholder{
  font-family: inherit;
  color: var(--gold);
  font-size: 20px;
}
textarea{
  height: 100px;
  background: transparent;
  border: 2px solid var(--gold);
  margin-bottom: 30px;
  padding-top: 5px;
  padding-left: 20px;
  font-family: inherit;
  line-height: 40px;
  color: var(--gold);
  font-size: 20px;
  resize: none;
}
.footer-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  font-size: 20px;
  line-height: 50px;
}

.github-link{
  display: flex;
  gap: 20px;
  font-size: 20px;
  line-height: 50px;
}
.social-items{
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-item{
  width: 26px;
  height: 26px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s
}
.social-link{
  display: block;
  width: 26px;
  height: 26px;
}

.social-item:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.social-item:nth-child(1) {
  background-image: url('./assets/svg/instagram.svg');
}
.social-item:nth-child(2) {
  background-image: url('./assets/svg/facebook.svg');
}
.social-item:nth-child(3) {
  background-image: url('./assets/svg/twitter.svg');
}
.social-item:nth-child(4) {
  background-image: url('./assets/svg/pinterest.svg');
}
